@font-face {
    font-family: 'Open Sans Regular';
    src: url(font/OpenSans.ttf);
}
@font-face {
    font-family: 'Rundeck';
    src: url(font/Rundeck.ttf);
}
@font-face {
    font-family: 'RobotoSlab';
    src: url(font/RobotoSlab);
}
@font-face {
    font-family: 'Archivo Black';
    src: url(font/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: 'Sergio Trendy';
    src: url(font/serge.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab ExtraBold';
    line-height: 1.6;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: aquamarine;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 190vh;
}
section{
    scroll-snap-align: start;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: #FDE9EA;
    overflow: hidden;
    padding: 30px 50px;
    height: 100vh;

}

/* Home Page CSS */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    margin-top: -90px;

    background-image: url("../images/crochetBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.homeGraphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.crochetLogo {
    max-height: 420px;
    display: block;
    margin-bottom: 10px;
}

.tagLine {
    font-size: 24px;
    color: #301515;
    text-align: center;
}

/*about Page Section*/

.sec_about {
    background-color: #869f77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.crocLogoAbout {
    margin-top: 10px;
    max-height: 180px;
}
.about_title{
    font-size: 'Archivo Black';
    color: #efe9db;
    font-size: 28px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.crochet_description {
    font-size: 16.5px;
    color: #efe9db;
    font-family: 'Roboto Slab';
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 3rem;
    width: 90%;
}
.about_imgContent{
    margin-top: 10px;
    display: block;
}
.abt_img1, .abt_img2, .abt_img3, .abt_img4, .abt_img5{
    max-height: 96px;
    margin: 30px;
}

/*COmponents Section*/

.crochet_components{
    background-color: #f8ebec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.crcLogo {
    max-height: 180px;
    margin-top: -80px;
}

.txt_card {
    margin-top: -20px;
    font-size: 22px;
    color: #000000;
    font-family: 'Open Sans Black';
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 90px;
}

.componentContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 50px;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 220px;
}

.component h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.icons {
    max-width: 60px;
    margin-bottom: 10px;
}

.component p {
    font-family: 'Roboto Slab';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    max-width: 200px;
    text-align: justify;
}
